body {
  font-family: 'Whitney A', 'Whitney B', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.5em;
  color: #37373c;
  height: 100%; }

* {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 2em;
  line-height: 2.3em; }

h2 {
  font-size: 1.5em;
  line-height: 1.8em;
  margin-top: 40px; }

h3 {
  font-size: 1.1em;
  font-weight: 400; }

h4 {
  width: 80%;
  font-size: 1.3em;
  line-height: 1.5em;
  text-align: center;
  font-weight: normal;
  margin: 1em auto;
  padding: 1em 0;
  color: #81818b; }
  h4::before {
    content: "";
    display: block;
    width: 100px;
    margin: 0 auto 20px auto;
    border-top: 2px solid #d1d1d4; }
  h4::after {
    content: "";
    display: block;
    width: 100px;
    margin: 20px auto 0 auto;
    border-bottom: 2px solid #d1d1d4; }

p {
  margin: 1em 0; }

a {
  color: inherit;
  border-bottom: 1px solid #16cbb6;
  text-decoration: none;
  transition: all .5s;
  -webkit-transition: all .5s;
  /* TODO: visited links */ }
  a:hover {
    color: #16cbb6;
    border-bottom: 1px solid #16cbb6; }

.smallcaps {
  font-family: 'Whitney SC A', 'Whitney SC B'; }

a.button {
  color: #fff;
  background-color: #b4b4c8;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: 'Whitney SC A', 'Whitney SC B';
  font-weight: 400;
  float: right;
  margin: 20px 0;
  border-bottom: 2px solid #9797b2;
  transition: all .5s;
  -webkit-transition: all .5s; }
  a.button:hover {
    background-color: #16cbb6;
    border-bottom: 2px solid #119d8d; }
  a.button i {
    margin-right: 10px; }

blockquote {
  margin-left: 50px;
  padding: 2px 30px;
  border-left: 3px solid #16cbb6; }

.posts {
  list-style-type: none;
  margin-bottom: 2em; }

#sidebar {
  background-color: #282832;
  overflow-y: scroll;
  width: 20%;
  position: fixed;
  height: 100%;
  padding: 3%; }
  #sidebar .home {
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    text-align: center; }
  #sidebar a {
    border-bottom: none;
    /* TODO: add visited link state*/ }
    #sidebar a:hover {
      color: #119d8d;
      /* TODO: change link hover color for gray links */ }
  #sidebar li {
    color: #16cbb6;
    display: block;
    padding: 10px;
    font-size: 0.9em; }
    #sidebar li.lecture {
      margin-top: 20px; }
    #sidebar li.lecture-section {
      color: #b4b4c8;
      padding: 0px 0px 0px 40px;
      font-size: 0.8em; }
    #sidebar li .lecture-name {
      float: left; }
    #sidebar li .date {
      font-family: 'Whitney SC A', 'Whitney SC B';
      float: right;
      color: #606083; }

#notes {
  padding: 5% 7.5%;
  overflow-y: scroll;
  float: right;
  width: 59%; }
  #notes img {
    display: block;
    margin: 0 auto;
    max-width: 100%; }

.lecture-header {
  padding-bottom: 40px;
  border-bottom: 1px solid #b4b4c8; }
  .lecture-header h3 {
    font-family: 'Whitney SC A', 'Whitney SC B';
    color: #b4b4c8; }
    .lecture-header h3 .lecture-date {
      float: right; }
