$text-color: rgb(55, 55, 60);
$teal: #16CBB6;

body{
  font-family: 'Whitney A', 'Whitney B', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.5em;
  color: $text-color;
}

* {
  margin: 0;
  padding: 0;
}

h1{
  /*font-size:30px;*/
  margin-bottom: 1em;
}

p {
  margin: 1em 0;

  /*font-size: ;*/
}

a { color:#fff;
  text-decoration:none; }
a:hover   { color: #000; }
a:visited { color: #fff; }

blockquote {
  margin-left: 50px;
  padding:2px 30px;
  border-left: 3px solid $teal;
}

em {
  color: $teal;
}

strong {
  color: $teal;
}

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

#sidebar{
  background-color:#373737;
  overflow-y: scroll;
  color:#fff;
  width:20%;
  /*TODO: MAKE RESPONSIVE*/;
  /*float:left;*/
  position: fixed;
  /*padding: ;*/

  li {
    color: $teal;
    display:block;
    padding:10px;
    font-size:14px;
  }

  ul {
    li {
      overflow: hidden;
      .lecture-name{
        float: left;
      }
      .date{
        float: right;
      }

    }
    ul {
      li {
        color:#fff;
        padding: 0px 0px 5px 40px;
      }
    }
  }


}

#notes{
  padding: 100px 50px;
  overflow-y: scroll;
  float: right;
  //TODO: this is a hot mess
  width: 70%;
}

/*#sidebar-home{
  color:#fff;
  margin-bottom:30px;
  text-align:right;
  padding: 100px 10px 0px 10px;
  letter-spacing: 10px;
}*/