$text-color: rgb(55, 55, 60);
$teal: #16CBB6;
$gray: rgb(180, 180, 200);
$sidebar: rgb(40, 40, 50);

@mixin state-transition {
  transition: all .5s;
  -webkit-transition: all .5s;
}

@media (max-width : 900px) {
  header.lecture-header > div,
  header.lecture-header > .lecture-info, 
  header.lecture-header > .lecture-buttons, {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}

body {
  font-family: 'Whitney A', 'Whitney B', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.5em;
  color: $text-color;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  line-height: 1.5em;
  margin: .5em 0;
}

h2 {
  font-size: 1.5em;
  line-height: 1.8em;
  margin-top: 40px;
}

h3 {
  font-size: 1.1em;
  font-weight: 400;
}

h4 {
  width: 80%;
  font-size: 1.3em;
  line-height: 1.5em;
  //font-style: italic;
  text-align: center;
  font-weight: normal;
  margin: 1em auto;
  padding: 1em 0;
  color: lighten($text-color, 30%);
  &::before{
    content: "";
    display: block;
    width: 100px;
    margin: 0 auto 20px auto;
    border-top: 2px solid lighten($text-color, 60%);
  }

  &::after{
    content: "";
    display: block;
    width: 100px;
    margin: 20px auto 0 auto;
    border-bottom: 2px solid lighten($text-color, 60%);
  }
}

p {
  margin: 1em 0;
}

a {
  color: inherit;
  border-bottom: 1px solid $teal;
  text-decoration: none;
  @include state-transition;

  /* TODO: visited links */

  &:hover {
    color: $teal;
    border-bottom: 1px solid $teal;
  }
}

.smallcaps {
  font-family: 'Whitney SC A', 'Whitney SC B';
}

a.button {
  color: #fff;
  background-color: $gray;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: 'Whitney SC A', 'Whitney SC B';
  font-weight: 400;
  display: block;
  text-align: center;
  //float: right;
  margin: 10px 0;
  border-bottom: 2px solid darken($gray, 10%);
  @include state-transition;

  &:hover {
    background-color: $teal;
    border-bottom: 2px solid darken($teal, 10%);
  }

  i { margin-left: 10px; }

}

blockquote {
  margin-left: 50px;
  padding:2px 30px;
  border-left: 3px solid $teal;
}

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

#sidebar {
  background-color: $sidebar; 
  overflow-y: scroll;
  width: 20%;
  position: fixed;
  height: 100%;
  padding: 3%;

  .home {
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
  }

  a { 
    border-bottom: none;
    /* TODO: add visited link state*/
    &:hover {
      color: darken($teal, 10%);
      /* TODO: change link hover color for gray links */
    }
  }

  li {
    color: $teal;
    display:block;
    padding:10px;
    font-size: 0.9em;

    &.lecture {
      margin-top: 20px;
    }

    &.lecture-section {
      color: $gray;
      padding: 0px 0px 0px 40px; 
      font-size: 0.8em;
    }

    .lecture-name {
      float: left;
    }

    .date {
      font-family: 'Whitney SC A', 'Whitney SC B';
      float: right;
      color: darken($gray, 30%);
    }
  }
}

#notes {
  padding: 5% 7.5%;
  overflow-y: scroll;
  float: right;
  width: 59%;

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}

header.lecture-header {
  padding-bottom: 20px;
  border-bottom: 1px solid $gray;
  overflow-y: hidden;
  h3 {
    font-family: 'Whitney SC A', 'Whitney SC B';
    color: $gray;
    .lecture-date {
      float: right;
    }
  }

  div {
    width: 45%;
    margin-right: 0;
  }

  .lecture-info{
    float: left;
    width: auto;
    max-width: 70%;
  }

  .lecture-buttons{
    float: right;
    width: 30%;
    min-width: 200px;
    padding: 10px 0 0 0;
  }
}

.slide {
  counter-increment: section;
  border: 1px solid $gray;
  padding: 40px 50px 50px 50px;
  width: 75%;
  margin: 30px auto;
  h1 {
    color: $teal;
    font-size: 1.5em;
    line-height: 1em;
  }
  .caption{
    font-size: 0.8em;
    font-style: italic;
    line-height: 0.8em;
    text-align: center;
  }
  ul > li > ul {
    margin-left: 25px;
  }

  &:after{
    content: counter(section);
    font-size: 0.8em;
    float: right;
  }
}

pre {
  width: 90%;
  overflow-x: scroll;
  border: 1px solid $gray;
  border-radius: 5px;
  padding: 5%;
  margin: 30px 0;
  //box-shadow: 0px 0px 5px inset;
}

@media print {
  #notes {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
  }
  .print-hide{
    display: none;
  }

  header.lecture-header{
    padding-bottom: 40px;
  }
}