$text-color: rgb(55, 55, 60);
$teal: #16CBB6;
$gray: rgb(180, 180, 200);
$sidebar: rgb(40, 40, 50);

@mixin state-transition {
  transition: all .5s;
  -webkit-transition: all .5s;
}


body {
  font-family: 'Whitney A', 'Whitney B', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.5em;
  color: $text-color;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  line-height: 2.3em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.8em;
  margin-top: 40px;
}

h3 {
  font-size: 1.1em;
  font-weight: 400;
}

p {
  margin: 1em 0;
}

a {
  color: inherit;
  border-bottom: 1px solid $teal;
  text-decoration: none;
  @include state-transition;

  /* TODO: visited links */

  &:hover {
    color: $teal;
    border-bottom: 1px solid $teal;
  }
}

.smallcaps {
  font-family: 'Whitney SC A', 'Whitney SC B';
}

a.button {
  color: #fff;
  background-color: $gray;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: 'Whitney SC A', 'Whitney SC B';
  font-weight: 400;
  float: right;
  margin: 20px 0;
  border-bottom: 2px solid darken($gray, 10%);
  @include state-transition;

  &:hover {
    background-color: $teal;
    border-bottom: 2px solid darken($teal, 10%);
  }

  i { margin-right: 10px; }

}

blockquote {
  margin-left: 50px;
  padding:2px 30px;
  border-left: 3px solid $teal;
}

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

#sidebar {
  background-color: $sidebar; 
  overflow-y: scroll;
  width:25%;
  position: fixed;
  padding: 3%;

  .home {
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
  }

  a { 
    border-bottom: none;
    /* TODO: add visited link state*/
    &:hover {
      color: darken($teal, 10%);
      /* TODO: change link hover color for gray links */
    }
  }

  li {
    color: $teal;
    display:block;
    padding:10px;
    font-size: 0.9em;

    &.lecture {
      margin-top: 20px;
    }

    &.lecture-section {
      color: $gray;
      padding: 0px 0px 0px 40px; 
      font-size: 0.8em;
    }

    .lecture-name {
      float: left;
    }

    .date {
      font-family: 'Whitney SC A', 'Whitney SC B';
      float: right;
      color: darken($gray, 30%);
    }

  }

}

#notes {
  padding: 5%;
  overflow-y: scroll;
  float: right;
  width: 59%;
}

.lecture-header {
  padding-bottom: 40px;
  border-bottom: 1px solid $gray;
  h3 {
    font-family: 'Whitney SC A', 'Whitney SC B';
    color: $gray;
    .lecture-date {
      float: right;
    }
  }
}