---
layout: base
---
<header class="lecture-header">
  <h3>Lecture {{ page.lecture-number }}</h3> 
  <div class="lecture-info">
    <h1>{{ page.title }}</h1>
  </div>
  <div class="lecture-buttons print-hide">
    <a href="{{ site.baseurl }}/assets/{{ page.pdf }}" class="button">Download PDF <i class="fa fa-download"></i></a>
  </div> <!-- /.lecture-buttons -->
  
</header>

<div class="lecture-content">
  <h2>Today's Topics</h2>
  <ul class="table-of-contents">
    {% for section in page.sections %}
      {% assign section-split = section | split: ' ' %}
      {% assign section-url = section-split | join: '-' %}
      <li class="lecture-section"><a href="{{ site.baseurl }}{{ page.url }}#{{ section-url | downcase }}">{{ section }}</a></li>
    {% endfor %}
  </ul>

  {{ content }}
</div>
