---
layout: default
---
<section class="lecture-header">
  <h3><span>Lecture {{ page.lecture-number }}</span> <span class="lecture-date">{{ page.date | date: '%b %-d, %Y' }}</span></h3>
  <a href="{{ site.baseurl }}/assets/{{ page.pdf }}" class="button"><i class="fa fa-download"></i> Download PDF</a>
  <h1>{{ page.title }}</h1>
  <h3 class="smallcaps">Lecturer: {{ page.lecturer }}</h3>
</section>

<div class="post">
  <h2>Today's Topics</h2>
  <ul class="table-of-contents">
    {% for section in page.sections %}
      {% assign section-split = section | split: ' ' %}
      {% assign section-url = section-split | join: '-' %}
      <li class="lecture-section"><a href="{{ site.baseurl }}{{ post.url }}#{{ section-url | downcase }}">{{ section }}</a></li>
    {% endfor %}
  </ul>

  {{ content }}
</div>
